<!DOCTYPE html>
<html>

<head>
  <title>Streaming Audio Gallery</title>
  <style>
    body {
      background: rgb(20, 20, 20);
    }

    .activeImage,
    .nextImage {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      height: 600px;
      width: 600px;
      top: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
</head>

<body>
  <div class="nextImage"  style="transition: all 0.2s;" />
  <div class="activeImage" style="transition: all 0.2s;" />
  <script>
    const socket = new WebSocket("ws://localhost:3030");
    socket.onerror = function (event) {
      // It could take a while for the sockets server to come up
      // the timeout is just to limit the number of refreshes until WS is online
      setTimeout(function () {
        location.reload();
      }, 10000)
    };
    const activeImg = document.querySelector(".activeImage");
    const nextImg = document.querySelector(".nextImage");
    socket.addEventListener("message", (event) => {
      if (activeImg.getAttribute("data-src") === event.data) {
        return;
      }
      nextImg.setAttribute("style", `opacity:1; background-image: url(${event.data})`);
      activeImg.setAttribute("style", `opacity:0; transition:all 0.4s; background-image: url(${event.data})`);
      activeImg.setAttribute("data-src", event.data)
      setTimeout(() => {
        activeImg.setAttribute("style", `opacity:1; background-image: url(${event.data})`);
      }, 500);
    });
  </script>
</body>

</html>